
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");


/*!
Templanet nettom24 CSS Framework
 */

:root {  
  --color-black: 0,0,0;
  --color-white: 255,255,255;
  --color-green: #1B5B31;
  --color-beige: #F5F0EC;
  --color-link-normal: 201,91,40;
  --color-link-hover: 153,69,31;
  --color-link-active: 153,69,31;
  --color-link-focus: 153,69,31;
  --font-family-serif: system-ui-serif, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-sans-serif: "Roboto", "Basier Circle", system-ui, -apple-system, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-button: "Roboto", "Basier Circle", system-ui, -apple-system, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-heading: "Basier Circle", system-ui, -apple-system, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

html {
  line-height: 1.5;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: rgb(var(--color-gray-850));
  color: rgb(var(--color-white));
}

body {
  font-family: var(--font-family-sans-serif);
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.005em;
  background-color: rgb(var(--color-white));
  color: rgb(var(--color-black));
  max-width: 1440px
}


main {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  font-weight: 700;
  margin-top: var(--text-container-h-top-spacer, 0);
  margin-bottom: var(--text-container-h-bottom-spacer, 0);
}

p {
  margin-top: var(--text-container-spacer, 0);
  margin-bottom: var(--text-container-spacer, 0);
}

a {
  text-decoration: none;
  background-color: transparent;
  color: inherit;
}

.col {
  border: 2px solid red;  
}

.row {
  border: 4px solid rgb(0, 30, 255);
}

.container, .container-fluid{
  border: 6px solid green;
}


#header {
  height: 72px;
}

.header-row{
  width: 1262px;
}

#carousel {
  height: 737px;
}
#service {
  height: 939px;
}
#about {
  height: 720px;
}
#portfolio {
  height: 1824px;
}
#instagram {
  height: 478px;
}
#footer {
  height: 499px;
}