@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@400;500&display=swap');


/*!
Templanet nettom24 CSS Framework
 */

:root {  
  --color-black: #111;
  --color-white: 255,255,255;
  --color-green: #1B5B31;
  --color-light-grey: #F5F0EC;
  --color-grey:#F5F0EC;
  --color-beige: #DCC1AB;  
  --font-family-inter: 'Inter', sans-serif;
  --font-family-montserrat: 'Montserrat', sans-serif; 

}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

html {
  line-height: 1.5;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--font-family-sans-serif);
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.005em;
  background-color: var(--color-white);
  color: var(--color-black);
}

.layout {
  overflow: hidden;  
  z-index: 1;
  width: 100%;
}


main {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  font-weight: 700;
  margin-top: var(--text-container-h-top-spacer, 0);
  margin-bottom: var(--text-container-h-bottom-spacer, 0);
}

p {
  margin-top: var(--text-container-spacer, 0);
  margin-bottom: var(--text-container-spacer, 0);
}

a {
  text-decoration: none;
  background-color: transparent;
  color: inherit;
}

.font-italic { 
  font-style: italic;
}

.navbar {
  background-color: var(--color-white);
}

.navi-small-text {
  font-family: var(--font-family-inter);
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.12px;
}

.dropdown-menu-form::after {
  display: none;
  margin-left: 0;
  vertical-align: 0.255em;
  content: "";
  border-top: none;
  border-right: none;
  border-bottom: 0;
  border-left: none;
}

.form-search {
  
  width: 220px;
  height: 30px;
}

.dropdown-menu-form-field {
  margin-left: -50px;
}

.green-text {
  color: var(--color-green, #1B5B31);
}

#header {
  height: 72px;
}

.header-row{
  width: 1262px;
}

.navbar-brand img {
  width: 114.368px;
  height: 19px;
  flex-shrink: 0;
}

.nav-link, .dropdown-item {
  color: var(--color-black, #111);
  font-family: var(--font-family-inter);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
  margin-right: 48px;
}

#carousel {
  height: 737px;
  max-width: 1440px;
  color: var(--color-black, #111);
}

.carousel-headline {
  font-family: var(--font-family-montserrat);
  font-size: 60px; 
  font-weight: 500;
  line-height: 70px;
  align-self: stretch;
}

.carousel-text {  
  font-family: var(--font-family-inter);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  width: 489.013px;
}

.btn-carousel-green {
  display: flex;
  padding: 12px 24px 14px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 200px;
  background: var(--color-green, #1B5B31);  
  border: none;
  color: var(--color-light-grey, #F5F0EC);
  text-align: center;
  font-family: var(--font-family-inter);
  font-size: 16px; 
  font-weight: 400;
  line-height: 150%; 
}

.btn-carousel-green-outline {
  display: flex;
  padding: 12px 22px 14px 22px;
  align-items: center;
  gap: 8px;
  border-radius: 200px;
  border: 1px solid var(--color-green, #1B5B31);
  color: var(--Green, #1B5B31);
  text-align: center;
  font-family: var(--font-family-inter);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; 
  background-color: transparent;
}

.iconVectorDown {
  width: 16px;
  height: 16px;
  margin-left:0;
}

.carousel-buttons-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 36px;
}

.photo-slider {
  display: block;
  position: relative;
}

.carousel-menu {
  display: flex;
  padding: 24px 32px;
  width: 192px;
  height: 96.00001px;
  background-color: var(--color-grey);
  position: absolute;
  bottom: 0;
  right: 0;
}

.carousel-control-prev {
padding-left: 32px;
}

.carousel-control-next {
  padding-right: 32px;
}

#service {
  background-color: var(--color-grey);
  max-width: 1440px;
}

.service-headline {
  font-family: var(--font-family-montserrat);
  font-size: 48px;  
  font-weight: 500;
  line-height: 115%;
  letter-spacing: -1.44px;
  margin-bottom: 32px;
}

.service-headline :last-child{
  letter-spacing: 0;
}

.service-text {
  font-family: var(--font-family-inter);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.16px;
  width: 709px;
}

.btn-card {
  display: flex;
  padding-bottom: 0px;
  align-items: center;
  gap: 10px;
  color: var(--color-green, #1B5B31);
  text-align: center;
  font-family: var(--font-family-inter);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  border-bottom: 1px solid var(--color-green, #1B5B31);
}

.card {
  display: flex;
  width: 378px;
  height: 370px;
  padding: 48px 40px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  border-radius: 28px;
  background-color: var(--color-white, #FFF) !;
}
.card-img-top{
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  margin-bottom: 32px;
}
.card-title{
  color: var(--color-black, #111);
  font-family: var(--font-family-montserrat);
  font-size: 28px; 
  font-weight: 500;
  line-height: 115%;
  letter-spacing: -1.4px;
  padding-bottom: 12px;
}

.card-text{
  color: var(--color-black, #111);
  font-family: var(--font-family-inter);
  font-size: 14px;  
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
}

.arrowRightIcon, .iconWhiteArrowRight, .iconArrowDownBlack {
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

.iconWhiteArrowRight {
  margin-left: 8px;
}

.iconArrowDownBlack {
  margin-left: 4px;
  margin-top: -5px;
}

#about {
  position: relative;
  height: 720px;  
  color: var(--color-light-grey, #F5F0EC);
}

.about-headline {  
  font-family: var(--font-family-montserrat);
  font-size: 48px;  
  font-weight: 500;
  line-height: 115%;
  letter-spacing: -1.44px;
  margin-top: 16px;
}

.about-headline :last-child{
  letter-spacing: 0;
}

.about-text {
  font-family: var(--font-family-inter);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.16px;
  margin-top: 40px;
}

.about-btn {
  display: flex;
  padding: 12px 22px 14px 22px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 200px;
  border: 1px solid var(--color-light-grey, #F5F0EC);
  color: var(--color-light-grey, #F5F0EC);
  background-color: transparent;  
  font-family: var(--font-family-inter);
  font-size: 16px;  
  font-weight: 400;
  line-height: 150%; 
  margin-top: 72px;
}

.about-img {
  position: absolute;
  display: block;
  object-fit: cover;
  object-position: center;
  transition: transform 250ms ease;  
  top:0;
  left: 30px;
}


.instagram-text span {
  letter-spacing: 1px;

}

#portfolio {
  display: flex;
  width: 1440px;
  padding: 0 0px 44px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 96px;
  position: relative;
  background-color: var(--color-beige);
}

.portfolio-headline{
  color: var(--color-black, #111);
  font-family: var(--font-family-montserrat);
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
  letter-spacing: -1.44px;
  position: relative;
}

.btn-portfolio {
  display: block;
  padding: 12px 22px 14px 22px;
  align-items: center;
  gap: 8px;
  border-radius: 200px;
  border: 1px solid var(--color-black, #111);
  color: var(--color-black, #111);
  text-align: center;
  font-family: var(--font-family-inter);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  background-color: transparent;
  position: absolute;
  z-index: 99999;
  bottom: 100px;
  right: calc(50% -50%);
}

.portfolio-background-gradient {
  display: block;
  width: 1440px;
  height: 1455px; 
  background: linear-gradient(0deg, #DCC1AB 0%, rgba(214, 183, 158, 0.00) 100%);
  bottom: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
}

#macy-container {
  z-index: -1;
  position: absolute;  
}

#instagram {    
  height: 478px;
  color: var(--color-light-grey, #F5F0EC);  
}

.instagram-text {   
  flex-shrink: 0;  
  font-family: var(--font-family-montserrat);
  font-size: 40px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -2px;
}

.instagram-button { 
  font-family: var(--font-family-inter);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.16px;
  margin-left: 64px;
}

.instagram-button button {
  margin-top: 24px;
  display: flex;
  padding: 10px 24px 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 200px;
  background: var(--color-light-grey, #F5F0EC);
  color: var(--color-green, #1B5B31);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

#footer {
  font-family: var(--font-family-inter);
  height: 499px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-light-grey, #F5F0EC);
  background-color: var(--color-black, #111);  
  font-weight: 400;
  line-height: 150%;
  padding: 80px 0;
}

#footer button {
  display: flex;
  padding: 12px 24px 14px 24px;  
  align-items: center;
  gap: 10px;
  border-radius: 200px;
  background: var(--color-green, #1B5B31);
  color: var(--color-light-grey, #F5F0EC);
  text-align: center;
  font-size: 16px;
}

.footer-text { 
  font-size: 16px;
  letter-spacing: -0.16px;
}

.footer-link {
  font-size: 14px;
  letter-spacing: -0.14px;
  margin-right: 48px;
}

.brand-footer-img {
  width: 113px;
  height: 23px;
}